%h1 Fyber Offers

.fieldset
  = form_tag offers_path, method: :get do

    =label_tag :uid
    =text_field_tag :uid, '', class: 'form-control'

    =label_tag :pub0
    =text_field_tag :pub0, '', class: 'form-control'

    =label_tag :page
    =text_field_tag :page, '', class: 'form-control'
    =submit_tag 'Get Offers', class: 'btn btn-default'

- if @offers && @offers.any?
  - @offers.each do |offer|
    .offer
      .title = offer['title']
      .payout = offer['payout']
      .thumbnail = image_tag offer['thumbnail']['lowres']
- else
  .no_offers No offers